### 39. Methodenseminar
## Big Data Module II: Introduction to Social Network Science with Python
# 3.1 Small-World Networks (Demo)
**Author**: <a href='https://www.gesis.org/person/haiko.lietz'>Haiko Lietz</a>, GESIS - Leibniz Institute for the Social Sciences

**Date**: 17 July 2019

**Library versions**: ``networkx`` 2.2 ([documentation](https://networkx.github.io/documentation/))

***
## Table of Contents
#### [3.1.1 Erdős-Rényi Graphs](#3_1_1)
#### [3.1.2 Navigable Small-World Graphs](#3_1_2)
[3.1.2.1 Two-Dimensional Grid Without Long-Range Connections](#3_1_2_1) |
[3.1.2.2 Two-Dimensional Grid With One Long-Range Connection Per Node and Optimal Navigation](#3_1_2_2)
#### [3.1.3 Quantifying Emergence](#3_1_3)
[3.1.3.1 Static Co-Authorship Graph](#3_1_3_1) |
[3.1.3.2 Dynamic Co-Authorship Graph](#3_1_3_2)
#### [3.1.4 Graph Densification](#3_1_4)
***

## 3.1.1 Erdős-Rényi Graphs <a name='3_1_1'></a>

#### Largest Connected Component

## 3.1.2 Navigable Small-World Graphs <a name='3_1_2'></a>

The ``navigable_small_world_graph()`` function geometrically creates navigable Small-World graphs as proposed by Kleinberg.

### 3.1.2.1 Two-Dimensional Grid Without Long-Range Connections <a name='3_1_2_1'></a>

#### Small-Worldliness

### 3.1.2.2 Two-Dimensional Grid With One Long-Range Connection Per Node and Optimal Navigation <a name='3_1_2_2'></a>

#### Small-Worldliness

## 3.1.3 Quantifying Emergence <a name='3_1_3'></a>

#### The Social Network Science Dataset

<img src='images/model_sns.png'>

In [50]:
import pandas as pd

In [51]:
authorships = pd.read_csv('../data/sns/authorships.txt', header='infer', delimiter='\t', encoding='utf-8')
authorships['publication_id'] = authorships['publication_id'].astype('str')
authorships.head()

  publication_id  author_id
0              0          0
1              1          1
2              2          2
3              2          3
4              3          4

### 3.1.3.1 Static Co-Authorship Graph <a name='3_1_3_1'></a>

<img src='images/sns_coauthorship.jpg'>

### 3.1.3.2 Dynamic Co-Authorship Graph <a name='3_1_3_2'></a>

In [67]:
authorships = pd.read_csv('../data/sns/authorships.txt', header='infer', delimiter='\t', encoding='utf-8')

In [68]:
publications = pd.read_csv('../data/sns/publications.txt', header='infer', delimiter='\t', encoding='utf-8')
publications['time'] = (3*np.floor(publications['time']/3)+(3-1)).astype('int')
publications.head()

   publication_id         publication  time     type  domain_id
0               0  HANIFAN_1916_A_130  1916  ARTICLE          0
1               1      YULE_1925_P_21  1925  ARTICLE          1
2               2  KERMACK_1927_P_700  1928  ARTICLE          1
3               3   ECKART_1936_P_211  1937  ARTICLE          2
4               4    COASE_1937_E_386  1937  ARTICLE          1

In [ ]:
authorships = pd.merge(left=authorships, right=publications[['publication_id', 'time']], on='publication_id')
authorships['publication_id'] = authorships['publication_id'].astype('str')
authorships.head()

  publication_id  author_id  time
0              0          0  1916
1              1          1  1925
2              2          2  1928
3              2          3  1928
4              3          4  1937

#### Largest Connected Component

#### Small-Worldliness

#### Degree Correlations

## 3.1.4 Graph Densification <a name='3_1_4'></a>

In [ ]:
A_densification_log10 = np.log10(A_densification)
pca = PCA(n_components = 2)
pca.fit(A_densification_log10)
beta = pca.components_[0, 1]/pca.components_[0, 0]
d = 10**(pca.mean_[1]-pca.mean_[0]*beta)

In [ ]:
beta

In [ ]:
xfit = np.arange(1, max(A_densification[:, 0]))
yfit = d*xfit**beta

In [ ]:
plt.scatter(densification['nodes'], densification['edges'])
plt.plot(xfit, yfit)
plt.xscale('log')
plt.yscale('log')